<section class="snow aux-section" id="contact">
  <div class="container">
    <div class="">
      <div>
        <h1>let's connect.</h1>
         <h2 class="longform">if you want to talk about data science, economics, want to collaborate on a project, or are curious about any of my works: <br> drop a line at <span class="subheading">simsi[at]ucdavis.edu.</span></h2>
      </div>
    </div>
  </div>
</section>
