<section class="" id="intro">
  <div class="container">
    <h1><strong>simarpreet singh</strong></h1>
    <p class="longform boldbig">using data science, quantitative research, and tech to make sense of the world around us.</p>

    <br>
    <p class="longform">
      <span class="emphasis">currently:</span>
      <br>
      <span class="emphasis">&mdash; </span> <span class="bold">analytics coordinator</span> at the uc davis summer sessions office.
      <br>
      <span class="emphasis">&mdash; </span><span class="bold">research assistant</span> at the department of economics, uc davis.
      <br>
      <span class="emphasis">&mdash; </span>continuously learning about machine learning & data science.
    </p>
  </div>
</section>
