<section class="" id="intro">
  <div class="container">
    <h1><strong>Simarpreet Singh</strong></h1>
    <p class="longform boldbig">Using data science, quantitative research, and tech to make sense of the world around us.</p>

    <br>
    <p class="longform">
      <span class="emphasis">Currently:</span>
      <br>
      <span class="emphasis">&mdash; </span> <span class="bold">Analytics coordinator</span> at the uc davis summer sessions office.
      <br>
      <span class="emphasis">&mdash; </span><span class="bold">Research assistant</span> at the department of economics, uc davis.
      <br>
      <span class="emphasis">&mdash; </span>Continuously learning about machine learning & data science.
    </p>
  </div>
</section>
