<section class="" id="intro">
  <div class="container">
    <h1><strong>simarpreet singh</strong></h1>
    <p class="longform boldbig">data science + quantitative research.</p>
    <hr>
    <br>
    <p class="longform"><span class="emphasis">currently:</span> <br> <span class="emphasis">&mdash; </span><span class="bold">analytics coordinator</span> at the uc davis summer sessions office. <br> <span class="emphasis">&mdash; </span><span class="bold">research assistant</span> at the department of economics, uc davis. </p>
  </div>
</section>
