<section class="snow" id='portfolio'>
  <div class="container">
    <div class="">
      <div>
        <h2>portfolio</h2>
        <br>
        <h3 class="longform">here are a few of my favorite projects. check out my <a href="https://github.com/simarpreet-singh">github</a> for other projects like web-apps.</h3>
        <br>
      </div>
      <div class="skills-exhaust">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 project">
              <div class="projectrr">
                <div class="px-0 project-img">
                  <img src="/static/img/eviction.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="px-0 project-des">
                  <div class="top-container">
                    <h3>Eviction</h3>
                    <p class="subheading">data science & economic analysis</p>
                    <a href="/projects"> view project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4 project">
              <div class="projectrr">
                <div class="px-0 project-img">
                  <img src="/static/img/eviction.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="px-0 project-des">
                  <div class="top-container">
                    <h3>Eviction</h3>
                    <p class="subheading">data science & economic analysis</p>
                    <a href="/projects"> view project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-lg-4 project">
              <div class="projectrr">
                <div class="px-0 project-img">
                  <img src="/static/img/eviction.jpg" class="img-fluid" alt="Responsive image">
                </div>
                <div class="px-0 project-des">
                  <div class="top-container">
                    <h3>Eviction</h3>
                    <p class="subheading">data science & economic analysis</p>
                    <a href="/projects"> view project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
