<section class="snow alert-section">
  <div class="container">
    <div class="">
      <div>
        <h1>portfolio coming soon.</h1>
         <h2 class="longform">meanwhile, check out my <a href="https://github.com/simarpreet-singh">github</a> for WIP projects like <a href="https://github.com/simarpreet-singh/protemo-app">web-apps</a> and <a href="https://github.com/simarpreet-singh/global-violence-data-essay">data-essays</a>.</h2>
      </div>
    </div>
  </div>
</section>
