<section class="snow" id='portfolio'>
  <div class="container">
    <div class="">
      <div>
        <h2>Portfolio</h2>
        <br>
        <h3 class="longform">Here are a few of my favorite projects. check out my <a href="https://github.com/simarpreet-singh">github</a> for other projects like web-apps.</h3>
        <br>
      </div>
      <div class="skills-exhaust">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-lg-4 project">
              <a href="/portfolio/digital-marketing-analytics" class="style-none">
                <div class="projectrr">
                  <div class="px-0 project-img">
                    <img src="https://images.unsplash.com/photo-1532622785990-d2c36a76f5a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" class="img-fluid rounded" alt="Responsive image">
                  </div>
                  <div class="px-0 project-des">
                    <div class="top-container">
                      <div class="project-des-text">
                        <h3>Digital Marketing Analytics</h3>
                        <p class="subheading">data analytics & marketing</p>
                        <a href="/portfolio/digital-marketing-analytics" >view</a>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-lg-4 project">
              <a href="/portfolio/knn" class="style-none">
                <div class="projectrr">
                  <div class="px-0 project-img">
                    <img src="/static/img/knn.png" class="img-fluid rounded" alt="Responsive image">
                  </div>
                  <div class="px-0 project-des">
                    <div class="top-container">
                      <div class="project-des-text">
                        <h3>Nearest Neighbor</h3>
                        <p class="subheading">machine learning & coding</p>
                        <a href="/portfolio/digital-marketing-analytics">view</a>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-lg-4 project ">
              <a href="/portfolio/ccn" class="style-none">
                <div class="projectrr">
                  <div class="px-0 project-img">
                    <img src="/static/img/ccn.png" class="img-fluid rounded" alt="Responsive image">
                  </div>
                  <div class="px-0 project-des">
                    <div class="top-container">
                      <div class="project-des-text">
                        <h3>Community Cell Networks</h3>
                        <p class="subheading">economics research</p>
                        <a href="/portfolio/ccn" >view</a>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <br>
            <br>
            <h2>Other Works</h2>
            <br>
            <br>
            <div class="col-xs-12">
              <br>
              <br>
              <a href="/portfolio/music" class="style-none">
                <div class="horizontal-project">
                  <img src="/static/img/music.png" alt="" class="img-fluid rounded rupikaur">
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
