<section id="about">
  <div class="">
    <div class="container">
      <h2>about</h2>
      <div class="top-container">
        <p class="lead subheading longform">
          <span class="boldbig">building a data-driven, human-centered future.</span>
          <!-- i'm passionate about merging access to big data and meaningful analytics to solve fundamentally human problems.
          for me, problem-solving is grounded in understanding the context and purpose of the work i am doing -- problems are meaningful because the people and things that deal with them. my background in economics and quantitative social sciences is rooted in this overlap of the technical and human components to the issues we face. -->
          <br>
          <br>
          i am passionate about merging access to big data with meaningful analytics to solve fundamentally human problems.
          <br>
          <br>
          currently, i am a senior at the university of california, davis studying economics (june '19) with an emphasis in economic analysis, data analytics, and econometric methods. i study a combination of economic theory, statistics, and a healthy dosage of development economics in order to make products and services better.
          <br>
          <br>
          i have worked in analytics in the digital marketing field for a little under 2 years and built several side projects. over the past few years, i have acquired a wide variety of experiences from conducting independent research to working on 2 early-stage startups. my expereinces, skillset, and work center around delivering actionable insights from numerous sources of data and designing strategic recommendations from those insights.
        </p>
        <br>
      </div>
      <h2>skills</h2>
      <div class="top-container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 col-skill">
            <br>
            <br>
            <p class="lead"><mark class="">programming</mark></p>
            <p>R</p>
            <p>STATA</p>
            <p>Python</p>
            <p>Excel / Sheets</p>
            <p>SQL</p>
            <p>Javascript</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 col-skill">
            <br>
            <br>
            <p class="lead"><mark class="">tools</mark></p>
            <p>R Studio</p>
            <p>Jupyter Notebooks</p>
            <p>Git / GitHub</p>
            <p>Google Analytics</p>
            <p>Sketch</p>
            <p>Slack</p>
            <p>PowerPoint / Slides</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 col-skill">
            <br>
            <br>
            <p class="lead"><mark class="">frameworks / libraries</mark> </p>
            <p>dplyr</p>
            <p>NumPy</p>
            <p>Pandas</p>
            <p>Matplotlib</p>
            <p>Node.js / Express.js</p>
            <p>React</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 col-skill">
            <br>
            <br>
            <p class="lead"><mark class="">analytics</mark> </p>
            <p>Statistics</p>
            <p>Econometrics</p>
            <p>Data Wrangling / Cleaning</p>
            <p>Data Visualization</p>
            <p>Data Analysis</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 col-skill">
            <br>
            <br>
            <p class="lead"><mark class="underline_emphasis">economics / quantitative research</mark></p>
            <p>Hypothesis Testing</p>
            <p>Forecasting</p>
            <p>Modeling</p>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 col-skill">
            <br>
            <br>
            <p class="lead"><mark class="">development</mark></p>
            <p>Front-end Development</p>
            <p>Web Application Development</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
