<% include ./partials/header %>
<body>
  <% include ./partials/sidenav %>

  <% include ./partials/intro %>

  <% include ./partials/portfolio-placeholder %>

  <% include ./partials/skills %>

  <% include ./partials/contact %>
</body>
